.about {
  min-height: 100vh;
}

.about-team-container {
  position: relative;
}

.about-background {
  background-image: url("../assets/about/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18em;
  position: relative;
}

.about-team-content {
  position: absolute;
  top: 250px;
  width: 90%;
  background-color: #fff;
  padding: 3em 0em 2.7em 1.8em;
}

.about-team-content h1 {
  font-size: 2.7em;
  font-weight: 600;
}

.about-team-content p {
  padding-top: 2em;
  font-size: 1.2em;
  padding-bottom: 3em;
  font-weight: 300;
  line-height: 1.2;
}

.heritage-section-container {
  position: relative;
  z-index: 2;
  margin-top: 20em;
  padding-top: 3em;
}

.heritage-content-container {
  padding-left: 1.8em;
}

.heritage-content-container h1 {
  font-size: 2.7em;
  font-weight: 600;
  margin-top: 1em;
}

.heritage-body {
  margin-top: 2em;
}

.heritage-content-container p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2;
  padding-right: 1em;
  margin-bottom: 1em;
}

.leaders-section-container {
  margin-top: 3em;
}

.leaders-content {
  padding: 1.4em;
}

.leader {
  margin-top: 2em;
}

.leaders-content h1 {
  font-size: 2.8em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.leader img {
  width: 100%;
}

.leader h3 {
  margin-top: 1em;
  letter-spacing: 1px;
}

.leader h4 {
  font-weight: 300;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.social-media-container {
  margin-top: 1.3em;
  display: flex;
  gap: 0.8em;
}

.social-media-container .icon {
  font-size: 1.7em;
}

@media (min-width: 523px) and (max-width: 758px) {
  .about-team-content {
    padding-bottom: 0em;
  }

  .heritage-section-container {
    padding-top: 0;
    margin-top: 15em;
  }
}

/*Tablet Design*/
@media (min-width: 759px) {
  .about-container {
    width: 80%;
    margin: 0 auto;
  }

  .about-hero-container {
    position: relative;
  }

  .about-hero-container .hero-img {
    background-image: url("../../public/assets/about/image-hero.jpg");
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }

  .hero-body {
    position: absolute;
    left: 80px;
    bottom: 0;
    background-color: #fff;
  }

  .hero-body h1 {
    top: -65px;
    text-align: center;
    width: 90%;
    position: absolute;
    font-size: 9em;
    color: #eeeef4;
    letter-spacing: 2px;
  }

  .hero-body h2 {
    font-size: 3em;
    font-weight: 600;
    margin-top: 1em;
  }

  .hero-body p {
    margin-top: 2em;
  }

  .heritage-section-container {
    margin-top: 0;
    padding-top: 7em;
  }

  .leaders-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
  }

  .leader {
    width: 45%;
  }

  footer {
    width: 100%;
  }

  .about-team-content {
    right: 0;
  }
}

@media (min-width: 1025px) {
  .about {
    width: 70%;
    margin: 0 auto;
  }
  .about-container {
    width: 100%;
    margin: 0;
  }
  .hero-img-container {
    width: 50%;
  }

  .hero-img-overlay {
    width: 50%;
  }

  .hero-body {
    top: 150px;
    left: 40%;
  }

  .hero-body h1 {
    text-align: unset;
    font-size: 13em;
    top: -100px;
    left: 0;
  }
  .hero-body .line {
    display: block;
    margin-top: 3em;
  }

  .hero-body p {
    font-size: 1.2em;
    width: 100%;
  }*/

  .heritage-section-container {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .heritage-body {
    width: 90%;
  }

  .heritage-section-container img {
    width: 40%;
    height: 40%;
  }

  .leaders-section-container {
    margin-top: 7em;
  }

  .leaders-content {
    display: flex;
    justify-content: space-between;
  }

  .leaders-wrapper {
    justify-content: end;
  }

  .leader {
    margin-top: 0;
    width: 40%;
  }

  .leader h4 {
    margin-bottom: 3em;
  }

  footer {
    width: 70%;
    margin: 0 auto;
    margin-top: 10em;
  }
}
