.hero-wrapper {
  position: relative;
  background-size: cover;
  color: white;
  will-change: transform
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 5em 2em 4em 2em;
}

.hero-content h1 {
  font-size: 4em;
  font-weight: 600;
}

.hero-content p {
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 1em;
  padding-right: 2em;
}

.about-us-btn,
.btn-dark {
  background-color: #1b1b1b;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-dark {
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 1.5em 2em;
  gap: 1em;
}

.btn-dark:hover,
.about-us-btn:hover {
  background-color: #7d828f;
  transition: all 0.2s ease-in;
}

a {
  text-decoration: none;
}

main {
  margin-top: 4em;
}

.line {
  display: block;
  width: 50px;
  border-top: 0.12em solid #7d828f;
  margin: 10px 0;
}

.main-container {
  padding: 0 2em;
}

.welcome-message {
  padding: 2.5em 0;
}

.welcome-message h2 {
  font-size: 2.9em;
  font-weight: 600;
}

.welcome-message p {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3;
}

.teams-wrapper {
  background-image: url("../assets/home/mobile/image-small-team.jpg");
  position: relative;
  background-size: cover;
  color: white;
}

.team-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.team-content {
  position: relative;
  z-index: 2;
  padding: 5em 2em 4em 2em;
}

.team-content h2 {
  font-size: 3em;
  font-weight: 600;
  margin-top: 2em;
}

.about-us-btn {
  padding: 1.5em 1.5em;
  margin-top: 3em;
  gap: 2em;
  margin-bottom: 5em;
}

.about-us-btn span {
  margin-left: 8px;
}

.images-container img {
  display: block;
  width: 100%;
}

.featured-container {
  padding: 1.5em;
}

.featured-content {
  margin-top: 3em;
}

.featured-content h2 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 1px;
}

.images-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.img-container {
  position: relative;
}

.img-description {
  position: absolute;
  bottom: 20px;
  color: white;
  z-index: 2;
  line-height: 1.5;
  padding-left: 1em;
}

.img-description h3 {
  font-weight: 500;
  font-size: 1.4em;
}

.img-description a {
  color: white;
  font-weight: 200;
  font-size: 1.2em;
}

.feature-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.see-all-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border: none;
  background-color: #1b1b1b;
  color: white;
  padding: 1.7em;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
}

footer {
  margin-top: 5em;
  position: relative;
  background-color: #eeeef4;
  padding-bottom: 3em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
}

footer span {
  background-color: #1b1b1b;
  padding: 2.3em 0.1em;
  width: 130px;
  height: 120px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 84%;
  transform: translateX(-50%);
}

footer span img {
  display: block;
  margin: 0 auto;
}

.footer-img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(230deg)
    brightness(101%) contrast(102%);
}

.footer-content {
  display: inline-block;
  vertical-align: top;
}

footer a {
  color: #60636d;
}

.footer-content ul {
  text-align: center;
}

.footer-content ul li {
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 600;
}

.footer-content ul li:hover {
  color: #7d828f;
}

.btn-dark.portfolio {
  margin: 0 auto;
  margin-top: 4em;
}

@media (min-width: 759px) {
  .hero-wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .hero-header {
    margin-top: 1.7em;
  }

  .main-container {
    width: 80%;
    margin: 0 auto;
    padding-left: 0;
  }

  .welcome-header {
    font-size: 9.2em;
    width: 100%;
    color: #eeeef4;
  }

  .teams-container {
    margin-top: 5em;
  }

  .teams-wrapper {
    background-image: url("../assets/home/tablet/image-small-team.jpg");
    width: 80%;
    margin: 0 auto;
  }

  .featured {
    width: 80%;
    margin: 0 auto;
  }

  .featured-content,
  .featured-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .featured-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    margin-top: 5em;
  }

  .num-feature {
    position: absolute;
    color: #fff;
    opacity: 0.5;
    z-index: 3;
    top: 20px;
    right: 10px;
    font-size: 12em;
    font-weight: 600;
  }

  footer {
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
  }

  footer span {
    position: static;
    transform: none;
    margin-left: 0;
  }

  footer span img {
    display: block;
    margin: 0 auto;
  }

  .footer-content ul {
    list-style: none;
    display: flex;
    padding-right: 1em;
    gap: 2em;
  }

  .footer-content ul li {
    margin-top: 0;
    font-size: 1.1em;
  }

  .btn-dark.portfolio {
    margin-top: 0;
    margin-right: 2em;
  }
}

@media (min-width: 1025px) {
  .hero-wrapper {
    width: 80%;
  }

  /*.teams-wrapper {
    width: 70%;
  }

  .featured {
    width: 70%;
    margin: 0 auto;
  }*/

  .hero-content {
    padding: 4em 2em 4em 5em;
  }

  .hero-content h1 {
    font-size: 5.2em;
  }

  .hero-content p {
    font-size: 1.3em;
    width: 60%;
  }

  .hero-nav {
    position: absolute;
    left: -59px;
    bottom: 0px;
    display: block;
    z-index: 555;
  }

  .hero-nav ul {
    display: flex;
    list-style: none;
  }

  .hero-nav ul li {
    font-weight: 300;
    font-size: 1.3em;
    background-color: #eeeef4;
    padding: 1em;
    color: #000;
    cursor: pointer;
    z-index: 3;
  }

  .hero-nav ul li:hover {
    background-color: #60636d;
    transition: all 0.2s ease-in-out;
  }

  .main-container {
    margin-top: 7em;
    /*width: 70%;*/
  }

  .welcome-message {
    display: flex;
    justify-content: center;
    gap: 3em;
  }

  .welcome-img-container {
    position: relative;
  }

  .welcome-img-container img {
    margin-top: 2em;
  }

  .welcome-header {
    position: absolute;
    right: 470px;
    top: -80px;
    font-size: 13em;
    font-weight: 600;
    letter-spacing: 3px;
  }

  .welcome-content {
    padding-top: 7em;
    width: 50%;
    padding-left: 3em;
    padding-bottom: 0;
  }

  .images-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
