.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em 1.5em;
}

.modal {
  position: absolute;
  right: 0px;
  top: 70px;
  background-color: #fff;
  width: 95%;
}

.modal ul {
  list-style: none;
  padding: 2em 1.5em 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.modal ul li {
  font-size: 1.5em;
  font-weight: 700;
  color: #1b1d23;
}

.page-link a {
  color: #1b1d23;
  text-decoration: none;
}


